<section class="container-fluid about-section">
  <h1 class="about-head">Britton Baumann</h1>
  <%= image_tag ( "Britt_head.jpg"), :class => "about-img" %>
  <main class="about-main">
    <h4 class="about-sm-head">About</h4>
    <p class="about-p">
      I'm a photography and web developer based in St. Cloud, MN. I love to photograph cityscapes and landscapes but do a lot of work in real estate. The languages I work with in web development are javascript and ruby.
      <br/>
      <br/>
   	 I grew up in North Branch, Minnesota: a small rural town north of the twin cities. In my younger years I was obsessed with sports and still am today. I played football, basketball and tennis in high school. After high school I attended the University of Minnesota Duluth where I had the opportunity to continue my football career. During my time at UMD I majored in sociology and minored in history.
	    <br/>
      <br/>
	   After college I kept pursuing football and had the opportunity to tryout and workout with multiple professionals teams in different leagues. Years of training and tryouts went by but unfortunately I wasn’t able to break through. This is what lead me to photography and web development.
     <br/>
     <br/>
	    When all the training and football was over, I was left without one of my passions, playing sports. Having more free time I looked for a hobby. I have always been interested in photography, not only that but I also like to learn new skills. I ended up buying a Nikon D3300 and tried to learn as much as I could about photography and editing through articles, blogs, and videos. With some new knowledge I took a vacation to Glacier National Park and during this time tested out my new skills and camera. I fell in love with photography there and haven’t looked back since.
      <br/>
      <br/>
	     After the trip I would continue to work on my photography and keep learning. Having the curiosity and willingness to learn as many things as I can I also found web development. I would eventually pursue this interest also and take a bootcamp to learn more. I’m glad I also pursued web development because it helped me think outside the box and complemented my photography.
       <br/>
       <br/>
	      Which leads me to where I am today. I continue to add to these skills and expand my knowledge in everything photography and web development. I’m in the process of learning more about graphic/web design and also videography to complement my skill set. I would’ve never thought I would be doing what I am doing when I was younger but am glad I have found my passions in life. It’s been one heck of a ride and can’t wait to see where it takes me.
    </p>
  </main>
</section>
