<section class="container">
  <div class="row">
    <div class="jumbotron">
      <div class="heading text-center">
        <h1>Contact</h1><br />
        <a href="https://www.instagram.com/britt.baumann/" target="_blank"><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a>
        <a href="https://twitter.com/BrittonB83" target="_blank"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
      </div>
      <form action="/my-handling-form-page" method="post">
        <div class="text-center">
          <label>Name</label><br />
          <input type="text" />
          <br />
          <label>Email</label><br />
          <input type="email" />
          <br />
          <label>Message</label><br />
          <textarea></textarea>
          <br />
          <input type="submit" value="Send Message" class="button" />
        </div>
      </form>
    </div>
  </div>
</section>
