

<div class="newD">
  <div class="buisness">
    <a class="buisness-link" href="mailto:brittonbaumann@gmail.com">Buisness Inquiries</a>
    <p class="buisness-p">
      Photographer & <br class="break" />
      Web Developer
    </p>
  </div>
</div>



     <!-- Blog section -->
    <%= render "posts/blog" , locals: {post: @posts}%>
