<div class="back-img"></div>
<section class="buisness">
  <div class="buis flex-container">
    <div>
      <a class="buisness-link" href="mailto:brittonbaumann@gmail.com">Buisness Inquiries</a>

    </div>
    <div>
      <p class="buisness-p">
        Photographer <br /> &#38; <br /> Web Developer
      </p>
      <div class="social-links">
        <a href="https://www.instagram.com/greatbritton85/" class="social" target="_blank"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>
        <a href="https://twitter.com/GreatBritton85" class="social" target="_blank"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
        <a href="https://www.facebook.com/britt.baumann.7" class="social" target="_blank"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</section>
<section class="main-points">
  <div class="points points-blog">
    <%= link_to posts_path , :class => 'points-blog-link' do %>
      <h5 class="link-head pull-right">Blog</h5>
    <% end %>
  </div>
  <div class="points points-port">
    <%= link_to about_path , :class => 'points-port-link' do %>
      <h5 class="link-head pull-right">Portfolio</h5>
    <% end %>
  </div>
  <div class="points points-print">
    <%= link_to posts_path , :class => 'points-print-link' do %>
      <h5 class="link-head pull-right">Print</h5>
    <% end %>
  </div>
</section>
