<div id="myCarousel" class="carousel slide" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag("Split_rock.jpg", :alt => "gray") %>
    </div>

    <!-- <div class="item">
      <%= image_tag("MSP_finished.jpg", :alt => "Minneapolis, MN") %>
    </div>

    <div class="item">
      <%= image_tag("Skagway_finished.jpg", :alt => "Skagway, AK") %>
    </div> -->

  </div>
</div>
    <!-- About Section -->
    <section id="index-about">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 text-center index-about-head">
            <h1>Britton Baumann</h1>
            <p>My name is Britton Baumann. I am a photographer that is based in Minnesota.</p>
        </div>
      </div>
    </section>
    <section>



    <!-- Blog section -->
    <%= render "posts/blog" , locals: {post: @posts}%>
