
<div class="back-img"></div>
<div class="container-fluid">

  <section class="buisness">
    <div class="buis flex-container">
      <div>
        <a class="buisness-link" href="mailto:brittonbaumann@gmail.com">Buisness Inquiries</a>
      </div>
      <div>
        <h6 class="buisness-h">
          Photographer  &#38; Web Developer
        </h6>
        <div class="social-links">
          <a href="https://www.instagram.com/greatbritton85/" class="social" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
          <a href="https://twitter.com/GreatBritton85" class="social" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
          <a href="https://www.facebook.com/britt.baumann.7" class="social" target="_blank"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </section>
  <section class="main-points">
    <div class="points points-port">
      <%= link_to portfolio_path , :class => 'points-port-link' do %>
        <h5 class="link-head pull-right">Portfolio</h5>
      <% end %>
    </div>
    <div class="points points-blog">
      <%= link_to posts_path , :class => 'points-blog-link' do %>
        <h5 class="link-head pull-right">Blog</h5>
      <% end %>
    </div>
    <div class="points points-print">
      <%= link_to prints_path , :class => 'points-print-link' do %>
        <h5 class="link-head pull-right">Prints</h5>
      <% end %>
    </div>
  </section>
</div>
