<div class="back-img"></div>
<div class="buisness">
  <div class="buis vert-center">
    <a class="buisness-link" href="mailto:brittonbaumann@gmail.com">Buisness Inquiries</a>
    <p class="buisness-p">
      Photographer <br />&#38; <br />
      Web Developer
    </p>
  </div>
</div>


     <!-- Blog section -->
    <!-- <%= render "posts/blog" , locals: {post: @posts}%> -->
