<section class="container-fluid">
  <div class="row">
    <div class="col-xs-12 text-center port-links-div portfolio-color">
      <h1 id="portfolio-head">Portfolio</h1>
      <ul class="port-links">
        <li class="port-link"><a href="">Landscape / Cityscape</a></li>
        <li class="port-link"><a href="">Headshots</a></li>
        <li class="port-link"><a href="">Real Estate</a></li>
        <li class="port-link"><a href="">Portraits</a></li>
      </ul>
    </div>
</section>
