<header class="container blog-header">
  <h1 class="text-center">Blog Posts</h1>
  </header>


  <section id="blog" class=" content-section text-center">
    <div class="container-fluid">
      <div class="row">
        <% @posts.each do |post| %>
          <div class="col-xs-12 col-sm-6">
            <h3><%= post.title %></h3>
            <%= image_tag(post.image, :class => "col-xs-12") %>
          </div>
        <% end %>
      </div>
    </div>
  </section>
