<section class="container-fluid show-container">
  <header>
    <h1 class="blog-show-head"><%= @post.title %></h1>
  </header>
  <main>
    <%= image_tag(@post.image, :class => "blog-show-img") %>
    <p class="blog-show-body"><%= @post.body %></p>
  </main>
</section>
