/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

///////////// Navbar ////////////////
.navbar {
  margin: 0;
  border: none;
  background-color: transparent;
}


#header {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  margin-left: 10px;
  width: auto;
  text-decoration: none;
  color: #fff;
  background-color: transparent;
  box-shadow: none;
}
//
// #nav-ham {
//   position: relative;
//   float: right;
//   height:50px;
//   width: 60px;
//   margin-right: 10px;
//   box-sizing: border-box;
//   cursor: pointer;
// }
//
#header:hover,
#nav-ham:hover {
  opacity: 0.4;
}
//
// .line {
//   position: absolute;
//   height: 2px;
//   width: 37%;
//   left: 33%;
//   background: #fff;
//   border-radius: 50px;
//   transition: all cubic-bezier(0.45, 0.01, 0.44, 1.26) 0.45s;
// }
//
// .line1 {
//   top: 42%;
// }
//
// .line2 {
//   top: 58%;
// }

//
// .close .line1{
//   transform: rotate(135deg);
//   top: 49%;
// }
//
// #nav-ham.close .line2 {
//   transform: rotate(45deg);
//   top: 49%;
// }
//
// .close {
//   opacity: 1 !important;
// }
//
// .close:hover {
//   opacity: 0.4 !important;
// }
//
//
// .collapsed {
//   .nav-links-list {
//     display: block;
//     position: relative;
//     float: left;
//     clear: left;
//     list-style-type: none;
//     width: 100%;
//     padding: 0;
//     margin: 0;
//     text-align: center;
//     background-color: rgba( 0, 0, 0, 0.2);
//   }
//
  a, a:link, a:visited {
    text-decoration: none;
    color: #fff;
  }
//
//   .nav-links-list .nav-link {
//     display: block;
//     padding: 10px;
//   }
//
//   .nav-links-list .nav-link:hover {
//     opacity: 0.4;
//   }
// }
//
// .open {
//   display: none;
// }
//
//
//

.navbar-toggle {
  border: none;
  padding: 0;
  margin: 0;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.navbar-nav {
  margin: 5px -5px;
  text-align: center;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  opacity: 0.4;
  color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-toggle:hover {
  opacity: 0.4;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

.collapse {
  background-color: rgba( 0, 0, 0, 0.3);
}

#navbar-toggle-cbox:checked ~ .collapse {
    display: block;
}

#navbar-toggle-cbox {
  display:none
}

///////////// Navbar media ///////////
@media (min-width: 768px) {


    .collapse {
      background-color: transparent;
    }
    #nav-ham {
      display: none;
    }
}




.navbar-toggle {
  border: none;
  background: transparent !important;

  &:hover {
    background: transparent !important;
  }

  .icon-bar {
      position: absolute;
      height: 2px;
      width: 37%;
      left: 33%;
      background: #fff;
      border-radius: 50px;
      transition: all cubic-bezier(0.45, 0.01, 0.44, 1.26) 0.45s;
  }
  .top-bar {
    transform: rotate(135deg);
    top: 49%;
  }
  .bottom-bar {
    transform: rotate(45deg);
    top: 49%;
  }

}

.navbar-toggle .icon-bar + .icon-bar {
  margin: 0;
}

.navbar-toggle.collapsed {
  .top-bar {
    transform: rotate(0);
    top: 45%;
  }
  .bottom-bar {
    transform: rotate(0);
    top: 57%;
  }
  margin: 10;
  padding: 0;
}

.navbar-header label {
    position: relative;
    float: right;
    height:50px;
    width: 60px;
    margin-right: 10px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
}
