/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
  @import "bootstrap";

///////////// Navbar ////////////////
  a, a:link, a:visited {
    text-decoration: none;
  }
  ul.nav { margin-bottom: 0 !important; }

.navbar {
  background: transparent;
  border-bottom: none;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-toggle:hover span {
  opacity: 0.4;
}

.navbar-toggle {
  border: none;
  box-shadow: none;
}

button:not(.disabled):hover,
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: transparent !important;
  background-image: none;
  box-shadow: none;
}


@media (max-width: 768px) {

  .navbar-inverse .navbar-collapse {
    background-color: rgba(0, 0, 0, 0.1)
  }


 }
