// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//////// Contact Page ////////////

.heading {
  padding: 0 40px !important;
  background-color: #797e87;
}

.contact-img {
  padding: 0;
}

.touch {
  margin: 0;
  padding-top: 16px;
  border-bottom: solid 1px #fff;
  font-family: 'Cinzel', serif;
}

.contact-social {
  float: left;
  margin-bottom: 25px;
  box-sizing: border-box;
}

.contact-img {
  padding: 0 !important;
}

.contact-background {
    background: url("little_gy.jpg") no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: right 100px;
    height: 100%;
}

#contact {
  margin-top: 6em;
}

.jumbotron {
  background-color: #252526 !important;
}

h1, h2, h3, h4, h5, p{
  color: #fff !important;
}

.social-col-1, .social-col-2{
    padding: 0 !important;
    padding-left: 33px !important;
}

.social-label {
  display: inline-block;
  font-size: 14px;
  margin: 0;
  padding-left: 12px;
  font-family: 'Playfair Display', serif;
  letter-spacing: 0.5px;
}

.labels {
  color: #fff;
  margin-top: 1em;
  font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
}

.label-box {
  border-radius: 8px !important;
}

.button {
  background-color: black !important;
  margin: 1em 0;
  border-radius: 8px !important;
  font-family: 'Cinzel', serif !important;
}

form input[type=submit]:hover, a.button:hover, a:link.button:hover, a:visited.button:hover,
.button:focus {
  opacity: 0.7;
  background-color: black !important;
}



////////// Contac Media Query //////////

@media (max-width: 768px) {
      .col-xs-12.text-right, .col-xs-12.text-left {
              text-align: center;
       }

       .social-col-1, .social-col-2{
           padding: 0 !important;
       }

    }
