// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//////// Contact Page ////////////

.contact-social {
  padding: 0 !important;
  margin: 10px;
}

.contact-section {
  position: relative;
  display: block;
}

.touch {
  margin: 10px;
  text-align: left;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-family: 'Cinzel', serif !important;
}

.contact-img {
  margin-top: 60px;
  max-width: 100%;
}

.social-label {
  display: inline-block;
  margin-left: 10px;
  letter-spacing: 0.5px;
  font-family: 'Playfair Display', serif;
}

.face-social {
  margin-left: 18px;
}

.insta-social {
  margin-left: 12px;
}

.social-container {
  padding: 0 !important;
}

.label-box {
  border-radius: 8px !important;
}

.labels {
  color: #fff;
  font-family: 'Cinzel', serif !important;
}

.button {
  background-color: black !important;
  margin: 1em 0;
  border-radius: 8px !important;
  font-family: 'Cinzel', serif !important;
}

form input[type=submit]:hover, a.button:hover, a:link.button:hover, a:visited.button:hover,
.button:focus {
  opacity: 0.7;
  background-color: black !important;
}

/////////// Media Queries ////////////
@media (min-width: 768px) {

  .social-con {
    margin-left: 80px !important;
  }

}
