// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//////// Blog ///////////

#blog-container {
  margin-top: 60px;
  background-color: #797e87;
}

.blog-head {
  padding: 10px 0;
  border-bottom: solid 1px #fff;
  margin-bottom: 0;
}

.blog-posts {
  background-color: #797e87;
}

.blog-list {
  padding-bottom: 15px;
  background-color: #c0c5ce;
}
