// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//////index////////
.posts img {
  margin-bottom: 5px;
  padding: 0 !important;
}

.posts p {
  padding: 1em;
  margin-bottom: 0;
}

.index-blog-header {
  font-family: 'Playfair Display', serif;
  margin-top: 15px;
  color: #fff !important;
}

.blog-index-container {
  background-color: #797e87;
}

.posts h3 {
  font-family: 'Cinzel', serif;
}

.posts a {
  color: #fff !important;
}

.posts p {
  font-family: 'Playfair Display', serif;
  color: #fff !important;
  word-spacing: 1.5px;
  letter-spacing: 0.5px;
}

.posts {
  border-bottom: solid 1px #fff;
  padding: 0 !important;
}

.posts:last-child {
  border-bottom: none;
}

.post-title {
  font-family: 'Cinzel', serif;
}

.blog-posts {
  padding: 0 20px !important;
}


//////// Blog ///////////


#blog-container {
  margin-top: 60px;
  background-color: #797e87;
}

.blog-head {
  padding: 10px 0;
  border-bottom: solid 1px #fff;
  margin-bottom: 0;
  font-family: 'Cinzel Decorative', cursive;
}


.blog-list {
  padding-bottom: 15px;
  border-left: solid 1px rgba(255,255,255,0.3);
  border-bottom: solid 1px rgba(255,255,255,0.3);
}

///////////Media for blog pages ////////////
@media (max-width: 767px) {

.posts {
  clear: both;
  padding-top: 10px;
  border-bottom: 1px solid #fff;
}

.blog-list {
  padding-bottom: 15px;
  border-top: solid 1px #fff;
  border-left: none;
  border-bottom: none;
}


}
