// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//////////// Posts (Blog) index ///////////

.blog-head {
  color: #fff;
  text-align: center;
  margin-top: 60px;
  border-bottom: solid 1px #fff;
}

.blog-nav {
  display: flex;
  justify-content: space-around;
}

.blog-posts {
  text-align: center;
}

.blog-title {
  font-family: 'Cinzel', serif;
}

.blog-image {
  max-width: 100%;
}

.blog-body {
  color: #fff;
  margin: 10px 0;
  padding: 10px 0;
  border-bottom: solid 1px #fff;
  text-align: center;
}

.recent-blog {
  display: none;
}

/////////////// Post Blog Show ////////////

.show-container {
  padding: 0 !important;
  margin: 10px 0;
}

.blog-show-head {
  color: #fff;
  text-align: center;
  margin: 60px 0 5px 0;
}

.blog-show-img {
  max-width: 100%;
}

.blog-show-body {
  color: #fff;
  margin: 10px;
}


@media (min-width: 768px) {

  .blog-posts {
    float: left;
    width: 70%;
  }

  .recent-blog {
    display: inline-block;
    width: 25%;
    float: right;
    color: #fff;
  }

  .recent-blog h1 {
    border-bottom: solid 1px #fff;
  }
  .recent {
    display: none;
  }

}
