// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


///////// Index Page ////////////
.back-img {
  background-image: url('Britt_home.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;

}

.buisness {
  position: absolute;
  display: block;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
}

.flex-container {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}

.buisness-link {
  font-family: 'Cinzel', serif;
  display: inline-block;
  color: #fff;
  padding: 15px 30px;;
  box-sizing: border-box;
  border: 1.5px solid #fff;
  transition: all .2s ease-in-out;
  margin: 20px;
}

.buisness-link:hover {
  background-color: #03dbdb;
  color: #000;
  transform: scale(1.05);
}

.social-links {
  padding: 5px;
  text-align: center;
  margin-right: 20px;
}

.social {
  margin: 6px;
  color: #fff;
}

.social-foot {
  margin: 5px;
  color: #000 !important;
}

.social:hover, .social-foot:hover {
  color: #03dbdb;
}

.buisness-h {
  // font-family: 'Playfair Display', serif;
  font-family: 'Cinzel', serif;
  // font-family: 'Spectral SC', serif;
  // font-family: 'Cinzel Decorative', cursive;
  margin-left: 10%;
  font-size: 18px;
  text-align: center;
  margin: 20px 20px 5px 20px;
  color: #fff;
}


.main-points {
  position: relative;
  display: table;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.points {
  font-family: 'Cinzel', serif;
  display: block;
  position: relative;
  border: 2px solid #fff;
  height: 806px;
}

.points-blog {
  background-image: url("Britt_b&w_cam1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.points-port {
  background-image: url("Cloud_tree_land.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.points-print {
  background-image: url("NYC_mem_city.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.points-blog-link,
 .points-port-link,
 .points-print-link {
  display: block;
  height: 100%;
  font-size: 2rem;
}

.link-head{
  background-color: #fff;
  display: inline-block;
  padding: 0.5rem 1rem;
  color: #000 !important;
  margin: 2rem;
}

////////// Portfolio //////////

.port-header {
  text-align: center;
  margin-top: 80px;
  font-family: 'Cinzel', serif;
  color: #000;
}

.port-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.port-links {
  padding: 5px;
  color: #000 !important;
}

.port-links:hover {
  opacity: 0.6;
}

.port-page {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.port-column {
  flex: 100%;
  max-width: 100%;
  padding: 0 4px;
}

.port-column img {
  margin-top: 8px;
  vertical-align: middle;
}

.img-real, .img-head, .img-land, .img-city {
  width: 100%;
}

.port-page {
  display: none;
}

.active {
  display: flex;
}





//////// Port Modal /////////


#modal-container {
  visibility: hidden;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99991;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.8);
}
#modal-content {
  max-width: 95%;
  max-height: 95%;
  width: auto;
  height: auto;
  z-index: 99992;
}



///////// About /////////////

.about-section {
  display: block;
  text-align: center;
  padding: 0 !important;
}

.about-head {
  margin-top: 80px;
  margin-bottom: 10px;
  color: #000;
  font-family: 'Cinzel', serif;
}

.about-img {
  max-width: 100%;
  margin: 0;
}

.about-sm-head {
  margin: 15px;
  text-align: left;
  border-bottom: 1px solid #000;
  color: #000;
  font-family: 'Cinzel', serif;
}

.about-p {
  text-align: left;
  margin: 0 25px;
  color: #000;
  font-family: 'Playfair Display', serif;
  letter-spacing: 0.2px;
}



///////Prints////////

.prints {
  margin-top: 100px;
}

///////////// Media Queries ////////////
@media (min-width: 768px) {

  ////// Index ///////////
  .points {
    width: 33.33%;
    display: inline-flex;
    padding-bottom: 5px;
  }

  .points-blog-link, .points-port-link, .points-print-link {
    width: 100%;
  }

  .buisness {
    font-size: 120%;
  }

//////// Portfolio //////////

  .port-column {
    flex: 50%;
    max-width: 50%;
  }

  /////// About //////

  .about-img, .about-main{
    max-width: 768px;
    flex: 50%;
    margin: auto;
  }

  .about-sm-head, .about-p {
    margin: 10px 0;
  }


}


@media (min-width: 1080px) {

  // .port-column {
  //   flex: 25%;
  //   max-width: 25%;
  // }

}
