// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


///////// Index Page ////////////
// .parallax {
//     /* The image used */
//     background-image: url("intro-bg.jpg");
//
//     /* Set a specific height */
//     min-height: 500px;
//
//
//
//     /* Create the parallax scrolling effect */
//     background-attachment: fixed;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: 100% 100%;
// }

.posts img {
  margin-bottom: 5px;
}

.posts p {
  padding: 1em;
  border-bottom: 1px solid #c0c0c0;
  margin-bottom: 0;
}



//////// About Page ///////////
.about {
  /* The image used */
  background-image: url("intro-bg.jpg");

  // /* Set a specific height */
  height: 768px;
  color: #fff;



  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.about h1 {
  margin: 0;
}

.about-info {
  margin-top: 8em;
  margin-right: 10%;
  float: right;
}

.about-p {
  margin-top: 2em;
}


////////// Media for welcome pages/////////////
@media (max-width: 768px) {

  .about-info {
    margin-right: 0;
  }

  .about-p {
    padding: 1em;
  }

}
