<!DOCTYPE html>
<html>
  <head>
    <title>Photography</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Navigation -->
    <!-- <nav class="navbar navbar-fixed-top">
      <div class="container-fluid">
        <div class="nav-header">
          <a id="header" href="/">Britton Baumann</a>
          <div id="nav-ham">
            <span class="line line1"></span>
            <span class="line line2"></span>
          </div>
        </div>
        <div class="open " id="nav-collapsed">
          <ul class="nav-links-list">
            <li><a href="/about" class="nav-link">About</a></li>
            <li><a href="/contact" class="nav-link">Contact</a></li>
            <li><a href="/posts" class="nav-link">Blog</a></li>
          </ul>
        </div>
      </div>
    </nav> -->

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <input type="checkbox" id="navbar-toggle-cbox">
        <div class="navbar-header">
          <label for="navbar-toggle-cbox" id="nav-ham" class="navbar-toggle collapsed"  data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar top-bar"></span>
            <span class="icon-bar bottom-bar"></span>
          </label>
          <a class="navbar-brand" id="header" href="/">Britton Baumann</a>
        </div>
        <div id="navbar" class="navbar-right navbar-collapse collapse ">
          <ul class="nav navbar-nav">
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/posts">Blog</a></li>
          </ul>
        </div>
      </div>
    </nav>


    <%= yield %>

    <!-- Footer -->
    <footer>
      <div class="container text-center">
        <p>Copyright &copy; Your Website 2017</p>
      </div>
    </footer>
  </body>
</html>
